* {
    margin: 0;
    padding: 0;
}
.breadcrumb,.add_form {
    width: 1200px;
    margin: 20px auto 0 auto;
    background-color: #fff;
}
.add_form {
    padding: 20px 60px;
}
.add_form p {
    font-weight: bold;
}
.add_form div label span {
    color: red;
}

.save {
    width: 1200px;
    margin: 0px auto 20px auto;
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}
.save button {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    color: #428bca;
    outline: none;
}